.collectionItemWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  gap: 3em;

  .spinner {
    margin: 5em auto;
    animation: s1 1s infinite;
    @keyframes s1 {
      to {
        transform: rotate(0.5turn);
      }
    }
  }
}
